/* 
    Filename: sections.css
    Purpose: holds style rules for the Home page of design system website.
    Author: Montana Pistell
    Last Modified: 
*/

:root {
    --dark-blue: #2F3E46;
    --green: #6B9E82;
    --light-blue: #A6D5DD;
    --cream: #F2F8F3;
    --light-grey: #ABB9B9;
}


/* ---------- Home ---------- */

/* Hero Section */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("/images/houseplants-row.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.hero > h1 {
    width: 100%;
    color: var(--cream);
    text-align: left;
    font-size: xx-large;
    padding-top: 1em;
    padding-left: 1em;
}
.introduction {
    font-weight: 300;
    padding: 2em;
    margin-bottom: 1em;
    color: white;
}

/* Section Cards */

.section-list {
    width: 100%;
}
.section-list-item {
    display: flex;
    margin: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.section-list-item > img {
    width: 30%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}
.details {
    width: 70%;
    display: flex;
    padding: 1em;
    flex-direction: column;
}
.details > h2 {
    margin-bottom: 25px;
}
.details > p > a {
    color: var(--green);
    transition: all 0.3s ease-in-out;
}
.details > p > a:hover {
    color: var(--dark-blue);
}
.button {
    margin-top: 25px;
    width: fit-content;
    padding: 10px 25px;
    background-color: var(--green);
    border-radius: 2px;
    color: var(--cream);
    transition: all 0.3s ease-in-out;
}
.button:hover {
    background-color: var(--dark-blue);
    text-decoration: none;
    color: var(--cream);
}

/* Banner */
.banner {
    background-color: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
}
.banner > h3 {
    padding: 1em;
}
.banner > a {
    padding: 10px 25px;
    width: fit-content;
    border: 2px solid var(--dark-blue);
    margin-bottom: 1em;
}

/* ---------- Section Pages ---------- */

/* Breadcrumbs */
.breadcrumbs {
    padding: 25px;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    color: var(--green);
}