/* 
    Filename: subsection.css
    Purpose: holds style rules for the subsection pages of the design system website.
    Author: Montana Pistell
    Last Modified: 
*/

/* All Subsections */
.breadcrumbs {
    padding: 25px;
    color: var(--charcoal);
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    color: var(--leaf-green);
}
.title {
    font-size: 2rem;
    margin-bottom: 10px;
}
.title, .description {
    padding-left: 25px;
    padding-bottom: 10px;
    width: 80%;
    color: var(--charcoal);
}
.section {
    padding-left: 25px;
    padding-bottom: 10px;
    width: 100%;
    margin: 25px 0;
    color: var(--charcoal);
}
.section h2, .section h3 {
    margin-bottom: 10px;
}
.section p {
    width: 80%;
}
.codepen-link {
    color: var(--leaf-green);
    text-decoration: underline;
}
.codepen-link:hover {
    color: var(--charcoal);
}
.example-block {
    max-width: 80%;
    width: auto;
    margin: 25px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.example-block.positive {
    background-color: white;
}
.example-block.negative {
    background-color: var(--charcoal);
}


/* Styles: Colours */
.color-cards {
    margin-top: 25px;
    display: flex;
    max-width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}
.color-card {
    width: 210px;
    margin: 0 20px 20px 0;
}
.color-swatch {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: end;
}
.charcoal {
    background-color: var(--charcoal);
    color: var(--cream);
}
.leaf-green {
    background-color: var(--leaf-green);
    color: var(--cream);
}
.light-blue {
    background-color: var(--light-blue);
    color: var(--charcoal);
}
.cream {
    background-color: var(--cream);
    color: var(--charcoal);
}
.ash-grey {
    background-color: var(--ash-grey);
    color: var(--charcoal);
}
p.color-name {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
    width: 100%;
}
p.color-codes {
    padding: 5px;
}

/* Styles: Images */

/* Styles: Spacing */

/* Styles: Typography */

/* Navigation: Breadcrumbs */
.breadcrumbs.positive {
    color: var(--charcoal);
}
.breadcrumbs.positive a {
    color: var(--leaf-green);
}
.breadcrumbs.negative {
    color: var(--light-blue)
}
.breadcrumbs.negative a {
    color: var(--cream);
}

/* Navigation: Buttons */

/* Navigation: Navbars */
div.desktop {
    width: 100%;
}
div.mobile {
    width: 50%;
}
.sample-nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sample-nav-logo {
    color: var(--cream);
    font-size: 1.4rem;
}
.sample-hamburger {
    cursor: pointer;
}
.desktop .sample-nav-menu-item {
    display: inline;
    margin: 0 10px;
}
.desktop .sample-nav-menu-item-link {
    color: var(--cream);
}
.desktop .sample-nav-menu-item-link:hover {
    color: var(--light-blue);
    text-decoration: underline;
}
.desktop .sample-hamburger {
    display: none;
}
.mobile .sample-bar {
    display: block;
    border-radius: 5px;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--cream);
}
.mobile .sample-nav-menu {
    position: fixed;
    left: -100%;
    top: 61px;
    flex-direction: column;
    background-color: var(--ash-grey);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}
.mobile .sample-nav-menu.active {
    left: 0;
}
.mobile .sample-nav-menu-item {
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid var(--charcoal);
}
.mobile .sample-nav-menu-item-link {
    color: var(--charcoal)
}
.mobile .sample-nav-menu-item-link:hover {
    text-decoration: underline;
}

/* Navigation: Submenus */

/* Components: Cards */

/* Components: Avatars */

/* Components: Forms */

/* Components: Lists */