/* 
    Filename: subsection.css
    Purpose: holds style rules for the subsection pages of the design system website.
    Author: Montana Pistell
    Last Modified: March 6, 2023
*/

/* ----- All Subsections ------ */
.breadcrumbs {
  padding: 15px 25px;
  color: var(--charcoal);
  width: 100%;
  background-color: white;
  box-shadow: 0px 6px 20px -10px rgba(0,0,0,0.2);
  position: fixed;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs a {
  color: var(--deep-green);
}
.title {
  margin-top: 75px;
}
.title,
.description {
  margin-left: 25px;
  margin-bottom: 25px;
  width: 80%;
}
.section {
  margin-left: 25px;
  width: 80%;
  color: var(--charcoal);
}
.cols{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
.cols > div {
  width: 45%;
}
@media only screen and (max-width: 768px) {
  .cols {
    width: 100%;
    flex-direction: column;
  }
  .cols > div {
    width: 80%;
  }
}
.quick-summary {
  margin: 0 0 25px 25px;
  padding: 10px;
  border: 5px dotted var(--ash-grey);
}
.quick-summary a {
  font-weight: 600;
  font-size: 1rem;
  color: var(--deep-green);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.quick-summary.section h2 {
  margin-bottom: 10px;
}
.quick-summary.section p {
  margin-bottom: 0;
}
.section-title, .section-description, .section h3, .section p {
  margin-bottom: 25px;
}
.example-block {
  width: auto;
  margin: 25px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.example-block.positive {
  background-color: white;
}
.example-block.negative {
  background-color: var(--charcoal);
}


/* ----- Styles: Colours ----- */
.color-cards {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.color-card {
  width: 210px;
  margin: 0 20px 20px 0;
}
.color-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.color-info strong {
  min-width: 120px;
}
.mini-swatch {
  height: 20px;
  width: 20px;
  border: 1px solid var(--charcoal);
  margin-right: 5px;
}
.color-swatch {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: end;
}
.charcoal {
  background-color: var(--charcoal);
}
.charcoal .color-name, .deep-green .color-name {
  color: white;
}
.deep-green {
  background-color: var(--deep-green);
}
.leaf-green {
  background-color: var(--leaf-green);
}
.light-blue {
  background-color: var(--light-blue);
}
.cream {
  background-color: var(--cream);
}
.ash-grey {
  background-color: var(--ash-grey);
}
p.color-name {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 5px;
  width: 100%;
  margin: 0;
}
p.color-codes {
  padding: 5px;
}

/* ----- Styles: Images ----- */
div.images-group {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}
.example-block.image {
  width: fit-content;
  height: fit-content;
  margin: 10px;
}
/* General Images */
.general-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.general-img.square {
  width: 200px;
  height: 200px;
}
.general-img.portrait {
  width: 200px;
  height: 400px;
}
.general-img.landscape {
  width: 400px;
  height: 200px;
}

/* Card Images */
div.cards-group {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
}
.cards-group .example-block {
  height: fit-content;
  margin: 10px;
}

/* Hero Images */
.sample-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("../images/houseplants-row-light.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: left;
  padding: 25px;
}
.sample-hero h1 {
  width: 100%;
  color: var(--cream);
  margin: 25px 0;
  padding-left: 0;
}
.sample-hero p {
  width: 80%;
  color: var(--cream);
  font-size: 1.2rem;
  margin: 25px 0;
}
.sample-hero a {
  margin: 25px 0;
}

/* ----- Styles: Spacing ----- */
.example-block.spacing {
  padding: 0 0 25px 25px;
  width: fit-content;
}
/* Text Spacing */
.example-block.spacing h3 {
  padding-top: 25px;;
}

/* Image Spacing */
.images-grid {
  display: flex;
  flex-wrap: wrap;
}
.image.image-spacing {
  margin: 25px 25px 0 0;
}
/* Button Spacing */
.example-block.spacing a {
  display: block;
  margin: 25px 0 0;
}

/* ----- Styles: Typography ----- */
.typography-sets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}
.typography-sets .example-block {
  width: 45%;
  padding-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .typography-sets .example-block {
    width: 100%;
  }
}
/* Typography Colour Styles */
.positive * {
  color: var(--charcoal);
}
.positive a {
  color: var(--deep-green);
  text-decoration: underline;
}
.negative * {
  color: var(--cream);
}
.negative a {
  color: var(--light-blue);
  text-decoration: underline;
}
.negative a:hover {
  color: var(--cream);
}
/* Typography Font Styles */
.typography-sets h1 {
  font-weight: 900;
  font-size: 2.4rem;
  margin: 25px 25px;
}
.typography-sets h2 {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 20px 25px;
}
.typography-sets h3 {
  font-weight: 900;
  font-size: 1.4rem;
  margin: 15px 25px;
}
.typography-sets h4 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 10px 25px;
}
.typography-sets h5 {
  font-weight: 900;
  font-size: 0.9rem;
  margin: 5px 25px;
}
.typography-sets h6 {
  font-weight: 500;
  font-size: 0.7rem;
  margin: 5px 25px;
}
.typography-sets p {
  font-weight: 500;
  font-size: 1rem;
  margin: 0 25px;
}
.typography-sets p a {
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.typography-sets p a:hover {
  text-decoration: underline;
}

/* ----- Navigation: Breadcrumbs ----- */
.breadcrumbs.positive {
  position: relative;
  background-color: var(--cream);
}
.breadcrumbs.positive li {
  color: var(--charcoal);
}
.breadcrumbs.positive a {
  color: var(--deep-green);
}
.breadcrumbs.negative {
  position: relative;
  background-color: var(--charcoal);
}
.breadcrumbs.negative li {
  color: var(--cream);
}
.breadcrumbs.negative a {
  color: var(--light-blue);
}


/* ----- Navigation: Buttons ----- */
.example-block.button-group {
  width: fit-content;
}
.button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}
.button {
  padding: 15px 30px;
  margin: 15px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  font-size: 1rem;
  width: fit-content;
  text-decoration: none;
}
/* Outlined Positive Styles */
.button.outlined.positive.charcoal {
  background-color: white;
  border: 2px solid var(--charcoal);
  color: var(--charcoal);
}
.button.outlined.positive.charcoal:hover {
  background-color: var(--charcoal);
  color: var(--cream);
}
.button.outlined.positive.deep-green {
  background-color: white;
  border: 2px solid var(--deep-green);
  color: var(--deep-green);
}
.button.outlined.positive.deep-green:hover {
  background-color: var(--deep-green);
  color: var(--cream);
}

/* Outlined Negative Styles */
.button.outlined.negative.charcoal {
  background-color: var(--charcoal);
  border: 2px solid var(--charcoal);
  color: var(--cream);
}
.button.outlined.negative.charcoal:hover {
  background-color: white;
  color: var(--charcoal);
}
.button.outlined.negative.deep-green {
  background-color: var(--deep-green);
  border: 2px solid var(--deep-green);
  color: var(--cream);
}
.button.outlined.negative.deep-green:hover {
  background-color: white;
  color: var(--deep-green);
}
.button.outlined.negative.light-blue {
  background-color: var(--light-blue);
  border: 2px solid var(--light-blue);
  color: var(--charcoal);
}
.button.outlined.negative.light-blue:hover {
  background-color: white;
  border: 2px solid var(--charcoal);
}
.button.outlined.negative.ash-grey {
  background-color: var(--ash-grey);
  border: 2px solid var(--ash-grey);
  color: var(--charcoal);
}
.button.outlined.negative.ash-grey:hover {
  background-color: white;
  border: 2px solid var(--charcoal);
}

/* Solid Styles */
.button.solid.charcoal {
  background-color: var(--charcoal);
  border: none;
  color: var(--cream);
}
.button.solid.charcoal:hover {
  background-color: var(--deep-green);
}
.button.solid.deep-green {
  background-color: var(--deep-green);
  border: none;
  color: var(--cream);
}
.button.solid.deep-green:hover {
  background-color: var(--charcoal);
}
.button.solid.light-blue {
  background-color: var(--light-blue);
  border: none;
  color: var(--charcoal);
}
.button.solid.light-blue:hover {
  background-color: var(--charcoal);
  color: var(--cream);
}
.button.solid.ash-grey {
  background-color: var(--ash-grey);
  border: none;
  color: var(--charcoal);
}
.button.solid.ash-grey:hover {
  background-color: var(--deep-green);
  color: var(--cream);
}

/* ----- Navigation: Navbars ----- */

/* Adapted from: Mobile Navbar Menu using HTML, CSS and JS https://dev.to/devggaurav/let-s-build-a-responsive-navbar-and-hamburger-menu-using-html-css-and-javascript-4gci 
/* 
    Adaptations: I built and styled my desktop navbar first, then referred to the tutorial to create the HTML structure for my
    mobile menu and hamburger icon. I then applied the tutorial style rules to my mobile menu, personalizing style, spacing, and layout. 
    Finally, I added the tutorial JavaScript to my JavaScript file and linked it to my page. The mobile implementation is non-functional 
    in the example section of this page, however it is functional as a standalone piece and in the linked codepen.
*/
/* All Devices */
div.desktop {
  width: 100%;
}
div.mobile {
  width: 50%;
}
.sample-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sample-nav-logo {
  color: var(--cream);
  font-size: 1.4rem;
  padding: 25px;
}
.sample-hamburger {
  padding: 25px;
  cursor: pointer;
}
/* Desktop Only */
.desktop .sample-nav-menu-item {
  display: inline;
  padding: 29px 25px;
}
.desktop .sample-nav-menu-item-link {
  color: var(--cream);
}
.desktop .sample-nav-menu-item:hover {
  background-color: var(--ash-grey);
}
.desktop .sample-nav-menu-item:hover .sample-nav-menu-item-link {
  color: var(--charcoal);
}
.desktop .sample-hamburger {
  display: none;
}
/* Mobile Only */
.mobile .sample-bar {
  display: block;
  border-radius: 5px;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--cream);
}
.mobile .sample-nav-menu {
  position: fixed;
  left: -100%;
  top: 79px;
  flex-direction: column;
  background-color: var(--ash-grey);
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}
.mobile .sample-nav-menu.active {
  left: 0;
}
.mobile .sample-nav-menu-item {
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid var(--charcoal);
}
.mobile .sample-nav-menu-item-link {
  color: var(--charcoal);
}
.mobile .sample-nav-menu-item-link:hover {
  text-decoration: underline;
}

/* ----- Navigation: Submenus ----- */

/* Code adapted from W3Schools's CSS Subnav Tutorial: https://www.w3schools.com/howto/howto_css_subnav.asp */
/* 
    Adaptations: First I created my HTML structure based on my existing Navbars, then modified the last element to
    match that of the tutorial. Then I styled the nav and submenu to match my existing navbar. Finally, I applied the CSS rules
    to my submenu elements one by one from the tutorial, modifying to fit my specific goals as needed.
*/
.submenu-sample {
  height: 300px;
  position: relative;
}
/* Navbar Submenu Example */
.submenu-sample .nav {
  background-color: var(--charcoal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submenu-sample .nav-logo {
  color: var(--cream);
  padding: 25px;
  font-size: 1.4rem;
  margin: 0;
}
.submenu-sample .nav-menu-item,
.submenu-sample .nav-menu-item.submenu-button {
  display: inline;
  padding: 29px 25px;
}
.submenu-sample .nav-menu-item-link {
  color: var(--cream);
  text-decoration: none;
  font-weight: 500;
}
.submenu-sample .nav-menu-item:hover {
  background-color: var(--ash-grey);
}
.submenu-sample .nav-menu-item:hover .nav-menu-item-link {
  color: var(--charcoal);
}
.desktop .submenu {
  float: right;
}
.submenu-content {
  display: none;
  position: absolute;
  left: 0px;
  top: 76px;
  background-color: var(--ash-grey);
  width: 100%;
  z-index: 1;
}
.submenu:hover .submenu-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
p.submenu-item {
  padding: 10px;
  margin-bottom: 0;
}
.submenu-sample .submenu-item-link {
  text-align: center;
  color: var(--charcoal);
  text-decoration: none;
  font-weight: 500;
}
.submenu-item-link:hover {
  text-decoration: underline;
}
/* Button Submenu Example */
.submenu-sample.mobile {
  display: block;
  height: 170px;
}
.mobile .submenu {
  width: 100%;
}
.mobile .submenu-button {
  width: 100%;
  margin: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.mobile .submenu-content {
  display: none;
  position: absolute;
  text-align: center;
  left: 0px;
  top: 53px;
  z-index: unset;
  border-radius: 0 0 5px 5px;
}
.mobile .submenu:hover .submenu-content {
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .submenu-sample.mobile {
    width: 100%;
  }
}


/* ----- Components: Cards ----- */
.card {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.card-button {
  width: fit-content;
  padding: 15px 30px;
  background-color: var(--deep-green);
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
  color: var(--cream);
  transition: all 0.3s ease-in-out;
}
.card-button:hover {
  background-color: var(--charcoal);
  color: var(--cream);
}

/* Horizontal Cards */
.card.horizontal {
  flex-direction: row;
  height: 200px;
}
.horizontal .card-img {
  width: 30%;
  height: inherit;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
.horizontal .card-content {
  width: 70%;
  display: flex;
  padding: 25px;
  flex-direction: column;
}
.horizontal .card-title {
  margin-bottom: 25px;
}

/* Vertical Cards */
.example-block.vertical-card {
  width: fit-content;
}
.card.vertical {
  width: fit-content;
  flex-direction: column;
}
.vertical .card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.vertical .card-content {
  width: 100%;
  display: flex;
  padding: 25px;
  flex-direction: column;
  text-align: center;
}
.vertical .card-content p {
  width: 100%;
}
.vertical .card-title {
  text-align: center;
  margin-bottom: 25px;
}
.vertical .card-button {
  margin: 0 auto;
}

/* ----- Components: Avatars ----- */
.avatar-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    padding: 25px;
  }
  .avatar {
    margin: 10px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--charcoal);
  }
  .avatar.small {
    width: 50px;
    height: 50px;
  }
  .avatar.medium {
    width: 80px;
    height: 80px;
  }
  .avatar.large {
    width: 125px;
    height: 125px;
  }
  .avatar img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center;
  }

/* ----- Components: Forms ----- */
.example-block.form {
  padding-top: 25px;
}
.example-block.form h3 {
  margin-left: 25px;
}
form {
  width: 100%;
  padding: 0 25px;
}
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
  border: 2px solid var(--leaf-green);
}
input[type=checkbox] {
  width: auto;
  margin: 0 0 10px 0;
}
textarea {
  width: 100%;
  resize: none;
}
input[type=submit] {
  font-size: 1rem;
  background-color: var(--charcoal);
  color: var(--cream);
  transition: all 0.3s ease-in-out;
  border: none;
}
input[type=submit]:hover {
  background-color: var(--leaf-green);
}

/* ----- Components: Lists ----- */
.example-block.list {
  width: 50%;
}
.list-title {
  margin: 0 0 10px 25px;
  padding-top: 25px;
  font-weight: 700;
}
/* Ordered Lists */
.ordered-list {
  margin: 0 25px;
  padding-bottom: 25px;
}
.ordered-list li {
  list-style: decimal inside;
}

/* Unordered Lists */
.unordered-list {
  margin: 0 25px;
  padding-bottom: 25px;
}
.unordered-list li::before {
  content: "•";
  padding-right: 10px;
  font-size: 1.2rem;
  color: var(--leaf-green);
}
