/* 
    Filename: subsection.css
    Purpose: holds style rules for the subsection pages of the design system website.
    Author: Montana Pistell
    Last Modified: 
*/

/* All Subsections */
.breadcrumbs {
    padding: 25px;
    color: var(--dark-blue);
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs a {
    color: var(--green);
}
.title {
    font-size: 2rem;
    margin-bottom: 10px;
}
.title, .description {
    padding-left: 25px;
    padding-bottom: 10px;
    color: var(--dark-blue);
}
.section {
    padding-left: 25px;
    padding-bottom: 10px;
    width: 100%;
    margin: 25px 0;
    color: var(--dark-blue);
}
.section h2, .section h3 {
    margin-bottom: 10px;
}
.codepen-link {
    color: var(--green);
    text-decoration: underline;
}
.codepen-link:hover {
    color: var(--dark-blue);
}
.example-block {
    max-width: 90%;
    width: auto;
    margin: 25px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.example-block.positive {
    background-color: white;
}
.example-block.negative {
    background-color: var(--dark-blue);
}


/* Styles: Colours */

/* Styles: Images */

/* Styles: Spacing */

/* Styles: Typography */

/* Navigation: Breadcrumbs */
.breadcrumbs.positive {
    color: var(--dark-blue);
}
.breadcrumbs.positive a {
    color: var(--green);
}
.breadcrumbs.negative {
    color: var(--light-blue)
}
.breadcrumbs.negative a {
    color: var(--cream);
}

/* Navigation: Buttons */

/* Navigation: Navbars */

/* Navigation: Submenus */

/* Components: Cards */

/* Components: Avatars */

/* Components: Forms */

/* Components: Lists */