/* 
    Filename: sections.css
    Purpose: holds style rules for the Home page of design system website.
    Author: Montana Pistell
    Last Modified: 
*/


/* ---------- Home ---------- */


/* Hero Section */
.hero {
    background-color: aquamarine;
}

/* Section Cards */



/* ---------- Sections ---------- */

