/* 
    Filename: styles.css
    Purpose: holds style rules for the design system website.
    Author: Montana Pistell
    Last Modified: January 30, 2023
*/

/* ---------- Site-Wide Styles ---------- */

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --dark-blue: #2F3E46;
    --green: #6B9E82;
    --light-blue: #A6D5DD;
    --cream: #F2F8F3;
    --light-grey: #ABB9B9;
}

a {
    color: var(--dark-blue);
}

/* Header */
header {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
}
header > a, header > nav {
    padding: 1em;
    color: var(--cream);
}

/* Container Layout */
.container {
    display: flex;
}

/* Sidebar Navigation */
.sidebar {
    background-color: var(--cream);
    width: 20%;
    padding: 1em;
}
.sub-links {
    padding: 0 0 1em 1em;
}

/* Right-Side Content (fullscreen on mobile) */
article {
    padding: 1em;
}


/* Footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--green);
}

footer > * {
    padding: 1em;
}