<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatars | Components | Plant Parents Design System</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/subsection.css">
    <link rel="icon" type="image/x-icon" href="../images/plant-parents-favicon.png">
</head>
<body>
    <header>
        <!--Logo-->
        <a href="../index.html" class="nav-logo"><img src="../images/plant-parents-logo-white.png" alt="Plant Parents Logo"></a>

        <!--Navigation (Mobile Only)-->
        <nav class="mobile-nav">
            <ul class="mobile-nav-menu">
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../styles.html">Styles</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../navigation.html">Navigation</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../components.html">Components</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../demo.html">Demo Site</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <div class="container">

        <!--Navigation (Desktop Only - left)-->
        <nav class="desktop-nav">
            <div class="desktop-nav-content">
                <h3><a href="../index.html">Design System</a></h3>
                <ul>
                    <li class="top-links"><a href="../styles.html">Styles</a></li>
                    <ul class="sub-links">
                        <li><a href="../Styles/colours.html">Colours</a></li>
                        <li><a href="../Styles/images.html">Images</a></li>
                        <li><a href="../Styles/spacing.html">Spacing</a></li>
                        <li><a href="../Styles/typography.html">Typography</a></li>
                    </ul>
                    <li class="top-links"><a href="../navigation.html">Navigation</a></li>
                    <ul class="sub-links">
                        <li><a href="../Navigation/breadcrumbs.html">Breadcrumbs</a></li>
                        <li><a href="../Navigation/buttons.html">Buttons</a></li>
                        <li><a href="../Navigation/navbars.html">Navbars</a></li>
                        <li><a href="../Navigation/submenus.html">Submenus</a></li>
                    </ul>
                    <li class="top-links"><a href="../components.html">Components</a></li>
                    <ul class="sub-links">
                        <li><a href="../Components/avatars.html">Avatars</a></li>
                        <li><a href="../Components/cards.html">Cards</a></li>
                        <li><a href="../Components/forms.html">Forms</a></li>
                        <li><a href="../Components/lists.html">Lists</a></li>
                    </ul>
                    <li class="top-links"><a href="../demo.html">Demo Site</a></li>
                </ul>
            </div>
        </nav>

        <!--Right-Side Content (fullscreen on mobile)-->
        <article>
            <!--Breadcrumbs-->
            <ul class="breadcrumbs">
                <li><a href="../index.html">Design System</a> / </li>
                <li><a href="../components.html">Components</a> / </li>
                <li>Avatars</li>
            </ul>

            <!--Page Title and Description-->
            <h1 class="title">Components: Avatars</h1>
            <p class="description">Avatars provide a way for users to recognize that they're signed in, provide a sense of connection with the product.
            </p>

            <!--Quick Summary-->
            <div class="section quick-summary">
                <h2 class="section-title">Quick Summary</h2>
                <p>
                    <strong>Creating Avatars: </strong>Create avatar images by nesting an image element inside a div element, then applying a 50% border-radius 
                    to the div element. Add a 1px solid border to the div element in the brand colour Charcoal. Add equal width and height to the div element, 
                    and set the image width and height to inherit. Best practice is to set up small, medium and large classes, then apply as needed for consistency. 
                    <a href="https://codepen.io/MontanaRey/pen/oNMKJWO" target="_blank">View on Codepen</a>.
                </p>
            </div>

            <!--Creating Avatars-->
            <div class="section">
                <h2 class="section-title">Creating Avatars</h2>
                <p class="section-description">To create an avatar, simply create a div element to hold the image, then create an img element
                    inside of that div. Then, depending on the size you'd like to create, apply one of the three size option classes as listed 
                    below and in the codepen example.
                </p>
            </div>

            <!--Avatar Examples and Variations-->
            <div class="section">
                <h2 class="section-title">Avatar Variations</h2>
                <p class="section-description">When implementing an avatar, three size options are available: small, medium, and large. 
                    <a href="https://codepen.io/MontanaRey/pen/oNMKJWO" target="_blank">View on Codepen</a>
                </p>
                <div class="example-block avatar-group">
                    <!--Small Avatar-->
                    <div class="avatar small">
                        <img src="../images/monsterra.jpg" alt="small avatar">
                    </div>
                    <!--Medium Avatar-->
                    <div class="avatar medium">
                        <img src="../images/monsterra.jpg" alt="medium avatar">
                    </div>
                    <!--Large Avatar-->
                    <div class="avatar large">
                        <img src="../images/monsterra.jpg" alt="large avatar">
                    </div>
                </div>
            </div>

        </article>
    </div>

    <footer>
        <!--Company Name/Logo-->
        <a href="../index.html" class="footer-logo"><img src="../images/plant-parents-logo-white.png" alt="Plant Parents Logo"></a>

        <!--Contact Information-->
        <div class="contact-info">
            <h4>Contact:</h4>
            <p>
                Montana Pistell <br>
                <a href="https://www.linkedin.com/in/montana-pistell/" target="_blank">LinkedIn</a> | 
                <a href="https://github.com/montanarey/dgl-209-capstone" target="_blank">Github</a> | 
                <a href="mailto:mpistell@northislandcollege.ca" target="_blank">Email</a>
            </p>
        </div>
    </footer>
    <script src="../global.js"></script>    
</body>
</html>