<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards | Components | Plant Parents Design System</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/subsection.css">
    <link rel="icon" type="image/x-icon" href="../images/plant-parents-favicon.png">
</head>

<body>
    <header>
        <!--Logo-->
        <a href="../index.html" class="nav-logo"><img src="../images/plant-parents-logo-white.png"
                alt="Plant Parents Logo"></a>

        <!--Navigation (Mobile Only)-->
        <nav class="mobile-nav">
            <ul class="mobile-nav-menu">
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../styles.html">Styles</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../navigation.html">Navigation</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../components.html">Components</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../demo.html">Demo Site</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <!--Right-Side Content (fullscreen on mobile)-->
    <main class="container">

        <!--Navigation (Desktop Only - left)-->
        <nav class="desktop-nav">
            <div class="desktop-nav-content">
                <h3><a href="../index.html">Design System</a></h3>
                <ul>
                    <li class="top-links"><a href="../styles.html">Styles</a></li>
                    <ul class="sub-links">
                        <li><a href="../Styles/colours.html">Colours</a></li>
                        <li><a href="../Styles/images.html">Images</a></li>
                        <li><a href="../Styles/spacing.html">Spacing</a></li>
                        <li><a href="../Styles/typography.html">Typography</a></li>
                    </ul>
                    <li class="top-links"><a href="../navigation.html">Navigation</a></li>
                    <ul class="sub-links">
                        <li><a href="../Navigation/breadcrumbs.html">Breadcrumbs</a></li>
                        <li><a href="../Navigation/buttons.html">Buttons</a></li>
                        <li><a href="../Navigation/navbars.html">Navbars</a></li>
                        <li><a href="../Navigation/submenus.html">Submenus</a></li>
                    </ul>
                    <li class="top-links"><a href="../components.html">Components</a></li>
                    <ul class="sub-links">
                        <li><a href="../Components/avatars.html">Avatars</a></li>
                        <li><a href="../Components/cards.html">Cards</a></li>
                        <li><a href="../Components/forms.html">Forms</a></li>
                        <li><a href="../Components/lists.html">Lists</a></li>
                    </ul>
                    <li class="top-links"><a href="../demo.html">Demo Site</a></li>
                </ul>
            </div>
        </nav>

        <!--Right-Side Content (fullscreen on mobile)-->
        <article>
            <!--Breadcrumbs-->
            <ul class="breadcrumbs">
                <li><a href="../index.html">Design System</a> / </li>
                <li><a href="../components.html">Components</a> / </li>
                <li>Cards</li>
            </ul>

            <!--Page Title and Description-->
            <h1 class="title">Components: Cards</h1>
            <p class="description">Use cards to display groups of related content in an easy-to-read 
                layout.
            </p>

            <!--Quick Summary-->
            <div class="section quick-summary">
                <h2 class="section-title">Quick Summary</h2>
                <p>
                    <strong>Creating Cards: </strong>Create a card using a div element which will hold an image element, along with 
                    a second div to hold card content such as a heading, paragraph, or button. Style the card according to either a 
                    Horizontal or Vertical layout. All cards have a 5px border-radius, and the two corners of the image which touch the 
                    edge of the card must have a 5px border-radius as well. Ensure that the card content has 25px of spacing between itself, the 
                    edge of the card, and the card image. A card drop shadow can be added for effect, as demonstrated in the examples below.<br><br>
                    <strong>Horizontal Cards: </strong>When styling a horizontal card, set the card containing div to display as flex, with the flex-direction 
                    set to row and a specified height, for example 200px. Set the card's image width to 30% with overflow hidden and object-fit set to cover. 
                    Give the card content div a width of 70% to fill the remaining space in the card.
                    <a href="https://codepen.io/MontanaRey/pen/dyjxgwR" target="_blank">View on Codepen</a>.<br><br>
                    <strong>Vertical Cards: </strong>When styling a vertical card, set the card containing div to display as flex, with the flex-direction 
                    set to column and your desired width. Set the image width to 100% and height to your desired height, for example 200px. Set the card's 
                    image width to 30% with overflow hidden and object-fit set to cover. The card content should be set to a width of 100%. 
                    <a href="https://codepen.io/MontanaRey/pen/ZEjgmrB" target="_blank">View on Codepen</a>
                </p>
            </div>

            <!--Creating Cards-->
            <div class="section">
                <h2 class="section-title">Creating Cards</h2>
                <p class="section-description">Whether creating horizontal or vertical cards, the HTML structure is the same.
                    Create a div element for the card itself, then create an img element inside, along with a second div to hold
                    the rest of the card's content. Inside the inner div element, add your heading, body content, and button as appropriate.
                </p>
            </div>

            <!--Card Variations-->
            <div class="section">
                <h2 class="section-title">Card Variations</h2>

                <h3>Card: Horizontal</h3>
                <p>Follow this example to build horizontal cards. The horizontal cards are intended 
                    for use in a vertical layout of cards. 
                    <a href="https://codepen.io/MontanaRey/pen/dyjxgwR" target="_blank">View on Codepen</a>
                </p>
                <div class="example-block">
                    <div class="card horizontal">
                        <img src="../images/hoya.jpg" class="card-img" alt="photo of plant">
                        <div class="card-content">
                            <h2 class="card-title">Card Title</h2>
                            <p>Information about Card's topic</p>
                            <a class="card-button" href="#">Button</a>
                        </div>
                    </div>
                </div>

                <h3>Card: Vertical</h3>
                <p>Follow this example to build vertical cards. The vertical cards are intended 
                    for use in either a horizontal, grid, or vertical layout of cards. When designing for 
                    mobile, use a vertical layout of cards. <a href="https://codepen.io/MontanaRey/pen/ZEjgmrB" target="_blank">View on Codepen</a>
                </p>
                <div class="example-block vertical-card">
                    <div class="card vertical">
                        <img src="../images/hoya.jpg" class="card-img" alt="photo of plant">
                        <div class="card-content">
                            <h2 class="card-title">Card Title</h2>
                            <p>Information about Card's topic</p>
                            <a class="card-button" href="#">Button</a>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </main>

    <footer>
        <!--Company Name/Logo-->
        <a href="../index.html" class="footer-logo"><img src="../images/plant-parents-logo-white.png"
                alt="Plant Parents Logo"></a>

        <!--Contact Information-->
        <div class="contact-info">
            <h4>Contact:</h4>
            <p>
                Montana Pistell <br>
                <a href="https://www.linkedin.com/in/montana-pistell/" target="_blank">LinkedIn</a> | 
                <a href="https://github.com/montanarey/dgl-209-capstone" target="_blank">Github</a> | 
                <a href="mailto:mpistell@northislandcollege.ca" target="_blank">Email</a>
            </p>
        </div>
    </footer>
    <script src="../global.js"></script>
</body>

</html>