<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms | Components | Plant Parents Design System</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/subsection.css">
    <link rel="icon" type="image/x-icon" href="../images/plant-parents-favicon.svg">
</head>

<body>
    <header>

        <!--Skip Link-->
        <a href="#main-content" class="skip-link">Skip to main content</a>

        <!--Logo-->
        <a href="../index.html" class="nav-logo"><img src="../images/plant-parents-logo-white.png"
                alt="Plant Parents Logo"></a>

        <!--Navigation (Mobile Only)-->
        <nav class="mobile-nav">
            <ul class="mobile-nav-menu">
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../styles.html">Styles</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../navigation.html">Navigation</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../components.html">Components</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../demo.html">Demo Site</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main class="container">

        <!--Navigation (Desktop Only - left)-->
        <nav class="desktop-nav">
            <div class="desktop-nav-content">
                <h3><a href="../index.html">Design System</a></h3>
                <ul>
                    <li class="top-links"><a href="../styles.html">Styles</a></li>
                    <li class="sub-links">
                        <a href="../Styles/colours.html">Colours</a>
                        <a href="../Styles/images.html">Images</a>
                        <a href="../Styles/spacing.html">Spacing</a>
                        <a href="../Styles/typography.html">Typography</a>
                    </li>
                    <li class="top-links"><a href="../navigation.html">Navigation</a></li>
                    <li class="sub-links">
                        <a href="../Navigation/breadcrumbs.html">Breadcrumbs</a>
                        <a href="../Navigation/buttons.html">Buttons</a>
                        <a href="../Navigation/navbars.html">Navbars</a>
                        <a href="../Navigation/submenus.html">Submenus</a>
                    </li>
                    <li class="top-links"><a href="../components.html">Components</a></li>
                    <li class="sub-links">
                        <a href="../Components/avatars.html">Avatars</a>
                        <a href="../Components/cards.html">Cards</a>
                        <a href="../Components/forms.html">Forms</a>
                        <a href="../Components/lists.html">Lists</a>
                    </li>
                    <li class="top-links"><a href="../demo.html">Demo Site</a></li>
                </ul>
            </div>
        </nav>

        <!--Right-Side Content (fullscreen on mobile)-->
        <article id="main-content">
            <!--Breadcrumbs-->
            <ul class="breadcrumbs">
                <li><a href="../index.html">Design System</a> / </li>
                <li><a href="../components.html">Components</a> / </li>
                <li>Forms</li>
            </ul>

            <!--Page Title and Description-->
            <h1 class="title">Components: Forms</h1>
            <p class="description">This section outlines how to create consistent and user-friendly forms for use across
                Plant Parents digital products.</p>

            <!--Quick Summary-->
            <div class="section quick-summary">
                <h2 class="section-title">Quick Summary</h2>
                <p>
                    <strong>Creating Forms: </strong>All forms should be created using the form html elements and it's
                    included sub-elements. Ensure forms have 25px padding between themselves and other page components, 
                    and have a width of 100% of their section.
                    <a href="https://codepen.io/MontanaRey/pen/OJwKdYo">View on Codepen</a>.<br><br>
                    <strong>Input Fields: </strong>Set the width to 100%, with a top/bottom padding of 12px, and
                    left/right padding of 20px. Add a top margin of 10px and a bottom margin of 20px. Border radius 
                    should be set to 5px, and a solid border should be added in the brand colour Deep Green. <br><br>
                    <strong>Labels: </strong>Set the font-colour of labels to Charcoal with a font weight of 500.<br><br>
                    <strong>Submit: </strong>Set the submit button's width to 100%, and style the button with one of the
                    solid button variation styles listed in the <a href="../Navigation/buttons.html">Buttons section</a>.
                    <br><br><strong>Responsive Layout: </strong>In most cases, organize form elements vertically, only using
                    horizontal layouts where appropriate. Always use a vertical layout on mobile devices.
                </p>
            </div>

            <!--Creating Forms-->
            <div class="section">
                <h2 class="section-title">Creating Forms</h2>
                <p class="section-description">When creating web forms, a vast number of inputs and options are
                    available. Regardless of the form being created, in order to ensure consistency across
                    all forms for Plant Parents digital products, follow the guidelines detailed below.
                </p>

                <div class="cols">
                    <div>
                        <h3>Input Fields</h3>
                        <p>All form input fields should be styled to improve readability and accessibility. With all
                            types of input fields, increased margins and padding should be added to accomplish this. 
                            The input fields should also be styled to have rounded Deep Green borders with a border 
                            radius of 5px. <br><br>
                            In addition, placeholder values should be added for input fields where appropriate.
                        </p>
                    </div>
                    <div>
                        <h3>Responsive Layout</h3>
                        <p>When implementing web forms for Plant Parent products, it is preferred to have all labels and
                            fields organized vertically. By doing so, you can increase the liklihood of your form 
                            performing well on mobile devices, and reduce the amount of responsive adjustments needed. <br><br>

                            If you are creating a form which requires or suits some horizontally organized input fields,
                            be sure to add media queries so that when viewed on a mobile or tablet device, the form is 
                            organized vertically.
                        </p>
                    </div>
                    <div>
                        <h3>Labels</h3>
                        <p>Labels should always be set to the Charcoal brand colour, with a font weight of 500.</p>
                    </div>
                    <div>
                        <h3>Submit</h3>
                        <p>The submit button at the end of a Plant Parents form should always span the width of the
                            form, and should be styled with one of the solid button variation styles listed in the 
                            <a href="../Navigation/buttons.html">Buttons section</a> of this design system.
                        </p>
                    </div>
                </div>
            </div>

            <!--Contact Form Example-->
            <div class="section">
                <h2 class="section-title">Contact Form Example</h2>
                <p class="section-description"><a href="https://codepen.io/MontanaRey/pen/OJwKdYo">View this example on
                        Codepen</a>.</p>

                <div class="example-block form">
                    <h3>Let's get in touch.</h3>
                    <form>
                        <label for="name">Name:</label><br>
                        <input type="text" id="name" name="name" placeholder="First Last"><br>

                        <label for="email">Email Address:</label>
                        <input type="email" id="email" name="email" placeholder="myemail@email.ca">

                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                            placeholder="123-456-7890">

                        <label for="message">Message:</label>
                        <textarea name="message" id="message" cols="30" rows="10"></textarea>

                        <input type="checkbox" id="permission" name="permission" value="permission-granted">
                        <label for="permission"> I agree to recieve communications from Plant Parents</label><br>

                        <input type="submit" value="Contact Me" id="submit">
                    </form>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <!--Company Name/Logo-->
        <a href="../index.html" class="footer-logo"><img src="../images/plant-parents-logo-white.png" alt="Plant Parents Logo"></a>

        <!--Contact Information-->
        <div class="contact-info">
            <h4>Contact:</h4>
            <p>
                Montana Pistell <br>
                <a href="https://www.linkedin.com/in/montana-pistell/">LinkedIn</a> |
                <a href="https://github.com/montanarey/dgl-209-capstone">Github</a> |
                <a href="mailto:mpistell@northislandcollege.ca">Email</a>
            </p>
        </div>
    </footer>
    <script src="../global.js"></script>
</body>

</html>