<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists | Components | Plant Parents Design System</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/subsection.css">
    <link rel="icon" type="image/x-icon" href="../images/plant-parents-favicon.svg">
</head>

<body>
    <header>

        <!--Skip Link-->
        <a href="#main-content" class="skip-link">Skip to main content</a>

        <!--Logo-->
        <a href="../index.html" class="nav-logo"><img src="../images/plant-parents-logo-white.png" alt="Plant Parents Logo"></a>

        <!--Navigation (Mobile Only)-->
        <nav class="mobile-nav">
            <ul class="mobile-nav-menu">
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../styles.html">Styles</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../navigation.html">Navigation</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../components.html">Components</a></li>
                <li class="mobile-nav-menu-item"><a class="mobile-nav-link" href="../demo.html">Demo Site</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main class="container">

        <!--Navigation (Desktop Only - left)-->
        <nav class="desktop-nav">
            <div class="desktop-nav-content">
                <h3><a href="../index.html">Design System</a></h3>
                <ul>
                    <li class="top-links"><a href="../styles.html">Styles</a></li>
                    <li class="sub-links">
                        <a href="../Styles/colours.html">Colours</a>
                        <a href="../Styles/images.html">Images</a>
                        <a href="../Styles/spacing.html">Spacing</a>
                        <a href="../Styles/typography.html">Typography</a>
                    </li>
                    <li class="top-links"><a href="../navigation.html">Navigation</a></li>
                    <li class="sub-links">
                        <a href="../Navigation/breadcrumbs.html">Breadcrumbs</a>
                        <a href="../Navigation/buttons.html">Buttons</a>
                        <a href="../Navigation/navbars.html">Navbars</a>
                        <a href="../Navigation/submenus.html">Submenus</a>
                    </li>
                    <li class="top-links"><a href="../components.html">Components</a></li>
                    <li class="sub-links">
                        <a href="../Components/avatars.html">Avatars</a>
                        <a href="../Components/cards.html">Cards</a>
                        <a href="../Components/forms.html">Forms</a>
                        <a href="../Components/lists.html">Lists</a>
                    </li>
                    <li class="top-links"><a href="../demo.html">Demo Site</a></li>
                </ul>
            </div>
        </nav>

        <!--Right-Side Content (fullscreen on mobile)-->
        <article id="main-content">
            <!--Breadcrumbs-->
            <ul class="breadcrumbs">
                <li><a href="../index.html">Design System</a> / </li>
                <li><a href="../components.html">Components</a> / </li>
                <li>Lists</li>
            </ul>

            <!--Page Title and Description-->
            <h1 class="title">Components: Lists</h1>
            <p class="description">Use lists to display information in an ordered or unordered manner, such as 
                propogation instructions or plant qualities.
            </p>

            <!--Quick Summary-->
            <div class="section quick-summary">
                <h2 class="section-title">Quick Summary</h2>
                <p>
                    <strong>Creating Lists: </strong>Use ul or ol html elements with li items to create lists. All lists
                    should have 25px of space between themselves and other page elements, with 10px of space between the 
                    list title and the list items.<br><br>
                    <strong>Ordered Lists: </strong>Set the list-style property to decimal inside.
                    <a href="https://codepen.io/MontanaRey/pen/NWBQeVw">View on Codepen</a>.<br><br>
                    <strong>Unordered Lists: </strong>Set the list-style property to none. Use the ::before pseudo-element 
                    to add a bullet character "•" to each list item, and set the colour to Deep Green. Set right padding 
                    to 10px, and font-size to 1.2rem. <a href="https://codepen.io/MontanaRey/pen/VwBogZe">View on Codepen</a>.
                </p>
            </div>

            <!--Creating Lists-->
            <div class="section">
                <h2 class="section-title">Creating Lists</h2>
                <p class="section-description">When creating lists for Plant Parents web products, create unordered and 
                    ordered list elements as normal. To style, add the appropriate css rules as shown in the examples below.
                </p>
            </div>

            <!--List Variations and Examples-->
            <div class="section">
                <h2 class="section-title">List Variations</h2>

                <h3>Ordered List</h3>
                <p>Use an ordered list to display content which has a particular order, such as instructions.
                    <a href="https://codepen.io/MontanaRey/pen/NWBQeVw">View on Codepen</a>
                </p>
                <div class="example-block list">
                    <h4 class="list-title">List Name</h4>
                    <ol class="ordered-list">
                        <li>List Item 1</li>
                        <li>List Item 2</li>
                        <li>List Item 3</li>
                    </ol>
                </div>

                <h3>Unordered List</h3>
                <p>Use an unordered list to display content which does not have an order, such as qualities.
                    <a href="https://codepen.io/MontanaRey/pen/VwBogZe">View on Codepen</a>
                </p>
                <div class="example-block list">
                    <h4 class="list-title">List Name</h4>
                    <ul class="unordered-list">
                        <li>List Item 1</li>
                        <li>List Item 2</li>
                        <li>List Item 3</li>
                    </ul>
                </div>
            </div>
        </article>
    </main>

    <footer>
        <!--Company Name/Logo-->
        <a href="../index.html" class="footer-logo"><img src="../images/plant-parents-logo-white.png" alt="Plant Parents Logo"></a>

        <!--Contact Information-->
        <div class="contact-info">
            <h4>Contact:</h4>
            <p>
                Montana Pistell <br>
                <a href="https://www.linkedin.com/in/montana-pistell/">LinkedIn</a> |
                <a href="https://github.com/montanarey/dgl-209-capstone">Github</a> |
                <a href="mailto:mpistell@northislandcollege.ca">Email</a>
            </p>
        </div>
    </footer>
    <script src="../global.js"></script>
</body>

</html>